In [0]:
#Import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
#Import dataset
dataset = pd.read_csv('breastCancer.csv')
dataset.replace('?', 0, inplace=True)
dataset = dataset.applymap(np.int64)
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [63]:
#Print dataset
dataset.head()

        id  clump_thickness  size_uniformity  ...  normal_nucleoli  mitoses  class
0  1000025                5                1  ...                1        1      2
1  1002945                5                4  ...                2        1      2
2  1015425                3                1  ...                1        1      2
3  1016277                6                8  ...                7        1      2
4  1017023                4                1  ...                1        1      2

[5 rows x 11 columns]

In [64]:
dataset.isnull().sum()
dataset.isna().sum()

id                   0
clump_thickness      0
size_uniformity      0
shape_uniformity     0
marginal_adhesion    0
epithelial_size      0
bare_nucleoli        0
bland_chromatin      0
normal_nucleoli      0
mitoses              0
class                0
dtype: int64

In [65]:
print(dataset.shape)

(699, 11)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [67]:
#Train model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
#Prediction
y_pred = classifier.predict(X_test)

In [69]:
#Make confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[82  3]
 [ 1 54]]

In [70]:
accuracy = (82+54)/(82+54+3+1)
print(accuracy)

0.9714285714285714

In [71]:
#Compute accuracy using K-Fold Cross validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 96.43 %
Standard Deviation: 2.52 %